
body {
    padding: 15px;
    font-size: 15px;
    width:800px;
    box-sizing: border-box;
    }
box-sizing: border-box;
h1{font-size: 2em; color: rgb(142,40,0);}
h2{font-size: 1.75em;
 color: rgb(182,73,38);
 border-bottom-width: 1px;
 border-bottom-style: solid;
 border-bottom-color: rgb(255, 176, 59);}
h3{font-size: 1.5em; color: rgb(70,137,102);}
form {
font-size: 1.25em;
}

.books-category {
overflow: hidden;
}
.single-book {
    inline-size: 33%;
    float: left;
}
form div label span {
    vertical-align: left;
    display: inline-block;
    width: 130px;
    color: rgb(142,40,0);
    font-weight: 700;
    margin: 15px;
    cursor: default;}

input, textarea {
 border: 1px solid rgb(142,40,0);
 padding: 7px;
 outline: none;
 margin: 7px;
 
}
 
 input:focus, textarea:focus {
 border: 1px solid  rgb(255, 176, 59);
 outline: none;
 
 }
 form button {
     width: 180px;
     height: 60px;
     color: rgb(255,240,165);
     font-size: 20px;
     background-color: rgb(70,137,102);
 }
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(70,137,102);
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: rgb(255,240,165);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-color:black;
}

nav ul li a:hover {
    color:rgb(70,137,102);
    background-color: rgb(255,240,165);
}

footer {
    text-align: center;
}
